.tasks {
  .task-container {
    background: #eee;
    border: 1px solid #ccc;
    line-height: 3em;
    border-radius: 4px;
    margin-top: 0.5em;
    padding-left: 1em;

    &.task-container--done {
      text-decoration: line-through;
      opacity: 0.5;
    }

    & .checkbox {
      margin-right: 0.5em;
    }
  }
}
